body {font-family: Mulish;

padding:0;
margin:0;
}

.osnova {
    display: flex;
    flex-direction: column;  
}
.ekran1{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 100px;
    }
.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.logotip{
    display:flex;
    justify-content: center;
    margin-right: 150px;
}
.textverh1{
    Font-family: Mulish;
    font-style: Regular;
    Font-size: 18px;
    Line-height: 23px;
    Line-height: 100%;
    Opacity: 50%;
    Fill: Solid;
    color: #1F1534;
    display: flex;
    max-width: 110px;
}
.texta{
    display: flex;
    justify-content: space-around;
    width: 550px;
}
.textverh2{
   Font-family: Mulish;
font-weight: 700;
   Font-size: 18px;
   Line-height: 23px;
   Line-height: 100%;
   Fill: Solid;
   color: #000000;
   max-width: 100px;
}
.centrhead{
    display: flex;
    justify-content: start;
}
.tochkiberh{
    display: flex;
    justify-content: left;
}
.tochkiberh img{
    width: 60px;
height: 80px;
}
.textcentrhead{
    display: flex;
    flex-direction: column;
    margin: 0 70px 0 100px;
    max-width: 415px;
    min-width: 300px;
    margin-top: 80px;
}
.h1verh{
    display: flex;
    justify-content: center;
    Font-family: Mulish;
    Font-style: Bold;
    font-weight: 700;
    Font-size: 48px;
    Line-height: 56px;
    Line-height: 93%;
text-align: left;
Fill: Solid;
color: #000000;
max-width: 300px;
max-width: 415px;
min-width: 300px;
}
.opisverh{
    display: flex;
    justify-content: center;
    Font-family: Mulish;
    Font-size: 21px;
    Line-height: 32px;
    Line-height: 121%;
text-align: left;
Fill: Solid;
color: #7D7987;
max-width: 300px;
max-width: 425px;
min-width: 300px;
margin: 25px 0 45px 0;
}
.knopkaverh{
    display: flex;
    justify-content: left;
}
.knopkaverh1{
    background-color: #458FF6;
    color: #FFFFFF;
    Font-family: Mulish;
    border: none;
Font-style: Bold;
Font-size: 18px;
height: 56px;
width: 200px;
left: 190px;
top: 564px;
border-radius: 55px;

}
.kartinkaverh{
    display: flex;
    justify-content: center;
}
.kartinkaverh img{
width: 650px;
height: 500px;
}
.ekran2{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 100px;
}
.opis_2{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 40px; 
}
.h1_2{
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 56px;
}
.cherta hr{
    width: 56px;
    height: 2px;
    background: black;
    margin: 30px 0 30px 0;
}
.texta2{
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 300;
text-align: center;
color: #7D7987;
height: 60px;
width: 952px;
left: 323px;
}
.formy_big_big{
display: flex;
flex-direction: column;
position: relative;
}
.formy_big_big1{
width: 100%;
background-image: url("/img/Vector.png");
display: flex;
justify-content: center;
}
.forma_big_little1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}
.forma_little1{
    width: 300px;
    height: 304px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.zagalov11{
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 56px;
text-align: left;
}
.text11{
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
text-align: left;
color: #7D7987;
;
}
.kartinka1{
align-items: left;
width: 73px;
height: 95px;
text-align: center;
}
.knopka2{
    display: flex;
    justify-content: center;
    height: 90px;
}
.knopka22{
    margin-top: 40px;
    height: 56px;
    width: 200px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    background-color: white;
    font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
color: #458FF6;
text-align: center;
}
.ekran3{
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
    margin-top: 30px;
}
.kartinka3{
    width: 650px;
    height: 500px;
    margin-left: 40px;
}
.textopis33{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 80px;
}
.h1_3{
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}
.texta3{
    font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #7D7987;
}
.knopka3{
    display: flex;
    justify-content: left;
    height: 90px;
}
.tochki22 img{
    width: 60px;
    height: 80px;
    margin-top: 380px;
}
.ekran4{
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
    margin-top: 30px;   
}
.textopis44{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 80px;
}
.ekran5{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.forma5{
display: flex;
justify-content: space-between;
height: 420px;
width: 1100px;
border-radius: 24px;
background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
}
.forma51{
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.opis5{
   display: flex;
   justify-content: space-around;
   height: 300px;
}
.h1_5{
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
color: #FFFFFF;
text-align: center;
padding-top: 40px;
}
.cherta5{
align-items: center; 
display: flex;
justify-content: center;
height: 30px;
padding-top: 20px;
padding-bottom: 35px;
}
.cherta5 hr{
height: 2px;
width: 56px;
border-radius: 6px; 
background-color: white; 
border: none;
}
.name5{
color: rgba(255, 255, 255, 0.85);
font-family: Mulish;
width: 184px;
}
.name5 h2{
    display: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;   
}
.name5 h2:first-child{
    display: block;  
}
.name5 p{
font-size: 18px;
font-style: normal;
font-weight: 400;
display: none;
}
.name5 p:first-child{
    display: block;
    }
.photo5{
border-radius: 100px;
border: 6px solid white;
height: 138px;
width: 138px;
display: flex;
justify-content: center;
align-items: center;
}
.photo5 img{
    border-radius: 100px;
    height: 139px;
    width: 139px;
    align-items: center; 
    display: none;  
}
.photo5 img:first-child{
display: block; 
} 
.levyopis55{
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.opis55{
    height: 120px;
width: 300px;
}
.opis55 p{
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    display: none;
}
.opis55 p:first-child{
    display: block;
    }

.strelki5{
    display: flex;
    justify-content: center;
    height: 18px;
    margin-bottom: 30px;
}
.strelkalev5{
    width: 45px;
}
.tochkiniz5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}
.strelkapr5{ 
margin-left:20px;
}
.ekran6{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 100px;
}
.forma6{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}
.forma66{
    display: flex;
    justify-content: space-between;
    width: 1120px;
}
.forma661{
    height: 512px;
width: 350px;
border-radius: 20px;
display: flex;
flex-direction: column;
background: #FFFFFF;
box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.photo6 img{
    height: 250px;
    width: 350px;
    border-radius: 20px 20px 0 0;
}
.opis66{
    width: 266px;
    margin: 10px 20px 0 20px;
}
.opis66 h2{
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 700;
text-align: left;
}
.opis66 p{
    font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 300;
text-align: left;
color: #7D7987;
}
.niz6{
    font-family: Mulish;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #4089ED;
margin: 20px 20px 0 20px;
}
.knopka6{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.knopka66{
height: 56px;
width: 200px;
border-radius: 55px;
border: 1.4px solid #458FF6;
background-color: white;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
color:#458FF6;
;
}

.ekran7{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.search{
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.spisok li.hide {
    display: none;
}